@typeparam T
@inherits StyleComponent

<MudTh Class="@Class" Style="@Style">
    <MudStack Spacing="0" Style="max-width: 200px;">
        <div class="d-flex">
            <MudTableSortLabel SortBy="@SortBy">
                <MudText><b>@Title</b></MudText>
            </MudTableSortLabel>
        </div>
        <PlanityFilterField Value="@FilterString" ValueChanged="OnFilterChanged" />
    </MudStack>
</MudTh>

@code {
    [Parameter] public string FilterString { get; set; } = string.Empty;
    [Parameter] public EventCallback<string> FilterStringChanged { get; set; }
    [Parameter] public string? Title { get; set; }
    [Parameter] public Func<T, object>? SortBy { get; set; }

    Task OnFilterChanged(string value)
    {
        return FilterStringChanged.InvokeAsync(value);
    }
}
