@page "/projects"
@inject IStringLocalizer<ProjectsOverviewPage> localizer
@inject IResourceService ResourceService
@inject IDateCalculator GanttDateCalculator
@inject IProjectService ProjectService
@inject ProjectFactory ProjectFactory
@inject ProjectNavigator ProjectNavigator

<OverviewPageLayout Title="@localizer["Projektöversikt"]">
    <LeftActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="@Routes.ProjectsNew" Size="Size.Small" StartIcon="@Icons.Material.Filled.Add" >
            <span>@localizer["Nytt projekt"]</span>
        </MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@ViewSelectionInGantt" Size="Size.Small" StartIcon="@Icons.Material.Filled.ViewTimeline">
            <span>@localizer["Visa urval i Gantt"]</span>
        </MudButton>
    </LeftActions>
    <MiddleActions>

    </MiddleActions>
    <RightActions>
        <PlanitySearchField @bind-Value="FilterString" />
    </RightActions>

    <ChildContent>
        <EntityTable Items="@Projects" Filter="FilterFunction">
            <HeaderContent>
                <TableHeaderSelectItems T="EndDateProject" Value="@HeaderSelect" ValueChanged="@OnHeaderSelectChanged" Title="@localizer["Välj"]" SortBy="new Func<EndDateProject, object>(x => x.IsSelected)" />
                <TableHeaderTextFilter T="EndDateProject" Title="@localizer["Namn"]" SortBy="new Func<EndDateProject, object>(x => x.Name)" @bind-FilterString="NameFilter"/>
                <TableHeaderTextFilter T="EndDateProject" Title="@localizer["Beskrivning"]" SortBy="new Func<EndDateProject, object>(x => x.Description)" @bind-FilterString="DescriptionFilter" />
                <TableHeaderDateTimeFilter T="EndDateProject" Title="@localizer["Start"]" SortBy="new Func<EndDateProject, object?>(x => x.Start)" @bind-FilterDate="@FromDateFilter" DatePlaceHolder="@localizer["Datum"]" TimePlaceHolder="@localizer["Tid"]" />   
                <TableHeaderDateTimeFilter T="EndDateProject" Title="@localizer["Slut"]" SortBy="new Func<EndDateProject, object?>(x => x.End)" @bind-FilterDate="@FromDateFilter" DatePlaceHolder="@localizer["Datum"]" TimePlaceHolder="@localizer["Tid"]" />
                <MudTh Style="width: 60px;">
                    <MudStack Spacing="0">
                    <MudText><b>@localizer["Åtgärder"]</b></MudText>
                        <MudField Variant="Variant.Outlined" Margin="Margin.Dense" Style="visibility: hidden;" />
                    </MudStack>
                </MudTh>

            </HeaderContent>
            <RowTemplate>
                <MudTd>
                    <MudCheckBox T="bool" @bind-Value="@context.IsSelected" Dense="true" Size="Size.Medium"/>
                </MudTd>
                <MudTd>@context.Name</MudTd>
                <MudTd>@context.Description</MudTd>
                <MudTd>@context.Start?.ToString("yyyy-MM-dd HH:mm")</MudTd>
                <MudTd>@context.End?.ToString("yyyy-MM-dd HH:mm")</MudTd>
                <MudTd>
                    <MudIconButton Size="Size.Small" Color="Color.Primary" Icon="@Icons.Material.Sharp.Edit" Href="@Routes.ProjectDetails(context.Id)" />
                    <MudIconButton Size="Size.Small" Icon="@Icons.Material.Sharp.Delete" Color="Color.Error" />
                </MudTd>
            </RowTemplate>
        </EntityTable>
    </ChildContent>
</OverviewPageLayout>


@code {
    private List<EndDateProject> Projects = new();

    string NameFilter = string.Empty;
    string DescriptionFilter = string.Empty;
    DateTime? FromDateFilter = null;
    DateTime? ToDateFilter = null;
    // TimeSpan? FromTimeFilter = null;
    // TimeSpan? ToTimeFilter = null;
    string FilterString = string.Empty;
    bool HeaderSelect = false;

    protected override async Task OnInitializedAsync()
    {
        var projects = await ProjectService.GetAllAsync();
        var resources = await ResourceService.GetAllAsync();

        Projects = projects?.Select(p => ProjectFactory.CreateEndDateProject(p, resources)).ToList() ?? new List<EndDateProject>();
    }

    void OnHeaderSelectChanged(bool value)
    {
        HeaderSelect = value;
        foreach (var project in Projects.Where(p => FilterFunction(p)))
        {
            project.IsSelected = value;
        }
    }

    bool FilterFunction(EndDateProject project)
    {
        bool nameMatches = false;
        bool descriptionMatches = false;
        bool fromMatches = false;
        bool toMatches = false;
        bool filterMatches = false;

        if (string.IsNullOrWhiteSpace(NameFilter) || project.Name.Contains(NameFilter, StringComparison.OrdinalIgnoreCase)) nameMatches = true;
        else return false;
        if (string.IsNullOrWhiteSpace(DescriptionFilter) || project.Description.Contains(DescriptionFilter, StringComparison.OrdinalIgnoreCase)) descriptionMatches = true;
        else return false;
        if (FromDateFilter is null || project.Start >= FromDateFilter) fromMatches = true;
        else return false;
        if (ToDateFilter is null || project.End <= ToDateFilter?.Date) toMatches = true;
        else return false;


        if (string.IsNullOrWhiteSpace(FilterString)) filterMatches = true;
        if (project.Name.Contains(FilterString, StringComparison.OrdinalIgnoreCase)) filterMatches = true;
        if (project.Description != null && project.Description.Contains(FilterString, StringComparison.OrdinalIgnoreCase)) filterMatches = true;

        return nameMatches && descriptionMatches && fromMatches && toMatches && filterMatches;
    }
    void ViewSelectionInGantt()
    {
        ProjectNavigator.ShowInGantt(Projects.Where(p => p.IsSelected).Select(p => p.Id).ToList());
    }
}