@page "/projects"
@inject NavigationManager NavigationManager
@inject IStringLocalizer<ProjectsOverviewPage> localizer
@inject IResourceService ResourceService
@inject IDateCalculator GanttDateCalculator
@inject IProjectService ProjectService

<OverviewPageLayout Title="@localizer["Projektöversikt"]">
    <Actions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => NavigationManager.NavigateTo(Planity.FrontendBlazorWASM.Routes.ProjectsNew))">
            <MudIcon Icon="@Icons.Material.Filled.Add" Class="mr-2" Size="Size.Small"/>
            <span>@localizer["Skapa nytt projekt"]</span>
        </MudButton>
    </Actions>
    <Filters>

    </Filters>
    <MainContent>
        <EntityTable Items="@Projects" EditLinkFunction="x => Routes.ProjectDetails(x.Id)">
            <HeaderContent>
                <MudTh>Namn</MudTh>
                <MudTh>Start</MudTh>
                <MudTh>Slut</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.Name</MudTd>
                <MudTd>@context.Start?.ToShortDateString()</MudTd>
                <MudTd>@GanttDateCalculator.CalculateEnd(context, Resources)?.ToShortDateString()</MudTd>
            </RowTemplate>
        </EntityTable>
    </MainContent>
</OverviewPageLayout>


@code {
    private List<Project> Projects = new();
    private List<Resource> Resources = new();


    protected override async Task OnInitializedAsync()
    {
        Projects = await ProjectService.GetProjectsAsync();
        Resources = await ResourceService.GetOrganizationResources();
    }
}